// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
}
// MAX-WIDTH 1600PX breakpoints END

// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
   .dialog__status {
      padding: 1.5px 5px 3.3px 5px;
   }

   .dialog__text-message {
      max-width: 125px;
   }

   .dialog {
      padding: 10px;
   }

   .details__selector-large-body {
      padding: 15px 15px;
   }

   .menu {
      height: 100vh;
   }

   .message-in .message__attached-items {
      margin-left: 10px;
   }
}
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START
@media (max-width: 575.98px) {
}
// MAX-WIDTH 576.98PX breakpoints END
