$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-add-person: "\e900";
$icon-chat: "\e901";
$icon-check: "\e902";
$icon-close: "\e903";
$icon-doc: "\e904";
$icon-doc-chat: "\e905";
$icon-graph: "\e906";
$icon-mark: "\e907";
$icon-photo: "\e908";
$icon-photo-chat: "\e909";
$icon-plus: "\e90a";
$icon-power: "\e90b";
$icon-sett: "\e90c";
$icon-triangle-down: "\e90d";
$icon-triangle-right: "\e90e";
$icon-video: "\e90f";

